/snowflake_mcp/.env
/snowflake_mcp/my_dbt_project
/snowflake_mcp/provision_tool
/snowflake_mcp/logs
/snowflake_mcp/okta_env
/snowflake_mcp/output.csv
/snowflake_mcp/snowflake_server.log
/snowflake_mcp/phdata_env
/error_log_mcp/.env